.dx-htmleditor-content img {
  vertical-align: middle;
  padding-right: 10px;
}

.value-content {
  margin-top: 20px;
  overflow: auto;
  height: 110px;
  width: 100%;
  white-space: pre-wrap;
}

.options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  box-sizing: border-box;
  width: 100%;
}

.main{
  display: flex;
}
.main>ul{
  width: 300px;
  display: grid;
  height: fit-content;
}
.main>div {
  width: 100%;
}
nav >ul{
  display: flex;
  background: #6c70e2;
}
nav >ul >li{
  text-decoration: none;
  list-style: none;
  padding: 20px;
}
nav>ul>li>a {
  text-decoration: none;
  color: black;
}